<!DOCTYPE html>

<html ng-app="Harmonogram" ng-controller="MainController" ng-init="init()">

  <head>

    <title> Harmonogram </title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">

    <link rel="stylesheet" property="stylesheet" href="stylesheet/libs/angular-material.min.css">

    <link rel="stylesheet" property="stylesheet" href="stylesheet/css/app.css">

    <link rel="shortcut icon" href="img/icon3.png">

  </head>

  <body>

    <%= yield %>

  </body>

    <script src="scripts/libs/angular.min.js"></script>
    <script src="scripts/libs/angular-ui-router.min.js"></script>
    <script src="scripts/libs/angular-sanitize.min.js"></script>

    <script src="scripts/libs/angular-animate.min.js"></script>
    <script src="scripts/libs/angular-aria.min.js"></script>
    <script src="scripts/libs/angular-messages.min.js"></script>
    <script src="scripts/libs/angular-material.min.js"></script>

    <script src="scripts/app.js"></script>

    <script src="scripts/directives/app.directive.js"></script>

    <script src="scripts/services/app.service.js"></script>
    <script src="scripts/services/users.service.js"></script>
    <script src="scripts/services/cars.service.js"></script>
    <script src="scripts/services/management.service.js"></script>

    <script src="scripts/controllers/main.controller.js"></script>
    <script src="scripts/controllers/login.controller.js"></script>
    <script src="scripts/controllers/management.controller.js"></script>
    <script src="scripts/controllers/menu.controller.js"></script>
    <script src="scripts/controllers/users.controller.js"></script>
    <script src="scripts/controllers/cars.controller.js"></script>
    <script src="scripts/controllers/dialog.controller.js"></script>




</html>