<div class="center">
  <div class="users login">
    <md-card>
        <form>
          <div layout="column" layout-align="center center">

            <div class="form-group">
              <div layout="row">
                <md-input-container>
                  <input type="text" class="form__login form-control" placeholder="login" ng-model="id" ng-keydown="$event.which === 13 && login()">
                </md-input-container>
              </div>
            </div>

            <div layout="row">
              <md-input-container>
            <input type="password" class="form__password form-control" placeholder="hasło" ng-model="password" ng-keydown="$event.which === 13 && authentication.login()">
              </md-input-container>
            </div>

            <div>
              <md-button type="button" class="md-raised md-cornered md-primary" type="submit" ng-click="login()">Zaloguj</md-button>
            </div>

          </div>
        </form>
    </md-card>
  </div>
</div>