<div class="center">

  <div class="management">
    <md-card>

    <div class="users-list" layout="column" layout-align="start center">

      <!--{{management.registry}}-->
      <div>{{management.translateMonth[management.wholeDate.month]}}</div>
      <!--<div>{{management.daysInMonth}}</div>-->

     <div layout="row">
       <div class="management__car-name--header"></div>
       <div ng-repeat="i in getNumber(management.daysInMonth) track by $index" class="management__brick--header">
        <div flex>{{$index+1}}</div>
      </div>
     </div>

        <!--<div ng-repeat="car in cars.cars">-->
          <!--<div layout="row">-->
            <!--<div class="management__car-name">{{car.name}}</div>-->
            <!--<div ng-repeat="i in getNumber(management.daysInMonth) track by $index"-->
                 <!--class="management__brick" ng-click="addToRegistry($index, car)" >-->
                 <!--<div class="tak" >dd</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <div ng-repeat="mArray in managementArray" layout="row">
          <div class="management__car-name" >{{mArray.car_name}}</div>
          <div class="management__brick" ng-repeat="day in mArray.days" ng-click="management.showDayDetails($event, day, mArray.car_id)"  ng-class="day.reg_id == null ? 'tak' : 'nie'">
            <!--{{day.day_number}}-->
          </div>
        </div>

    </div>
    </md-card>
  </div>

</div>

