<div class="center">

  <div class="users">

    <div class="users-list" layout="column" layout-align="start center">

      {{managment.registry}}
      {{managment.wholeDate}}
      {{managment.daysInMonth}}

      <div ng-repeat="car in cars.cars">
        {{car}}
        <div ng-repeat="">

        </div>
      </div>
    </div>

  </div>

</div>