<div class="center">

  <div class="users">
    <md-card>

    <div class="users-list" layout="column" layout-align="start center" style="margin-top:20px;">

      <div layout="row" layout-align="center center" class="row header">
        <div class="w-200" layout="row" layout-align="center center"> <div>ID</div></div>
        <div class="w-200" layout="row" layout-align="center center"><div>NAZWA</div></div>
        <div class="w-200" layout="row" layout-align="center center"></div>
      </div>

      <div class="row" ng-repeat="user in users.users track by $index" layout="row" layout-align="center center">

        <div class="w-200" layout="row" layout-align="center center"> <div ng-bind="$index+1"></div> </div>
        <div class="w-200" layout="row" layout-align="center center"> <div ng-bind="user.login"></div> </div>
        <div class="w-200" layout="row" layout-align="end end"><div>
          <md-button class="md-raised md-accent"
                     aria-label="edytuj" ng-click="users.showEditUser(user, $event)">EDYTUJ</md-button>
          </div>
        </div>

      </div>

    <div>
      <md-button class="md-raised md-accent" ng-click="users.showAddNewUser($event)" style="margin: 25px;">Dodaj nowego użytkownika</md-button>
    </div>

    </div>

    </md-card>

  </div>

</div>