<md-dialog aria-label="Wpisz w rejestr">
  <form name="formDayDetail" ng-cloak ng-submit="management.sendDataToRegister(formDayDetail)">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Wpisz w rejestr (jakie auto)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="management.closeDialog()">X</md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">

        <div layout="row">
          <md-input-container>
            <label>Data Początkowa: </label>
            <md-datepicker ng-model="management.pickedDay.data_start" md-open-on-focus></md-datepicker>
            <!--<input ng-model="management.pickedDay.data_start">-->
          </md-input-container>
        </div>
        <div layout="row">
        <md-input-container>
            <label>Data końcowa: </label>
          <md-datepicker ng-model="management.pickedDay.data_end" md-open-on-focus></md-datepicker>
          <!--<input ng-model="management.pickedDay.data_end">-->
          </md-input-container>
        </div>
        <div layout="row">
          <!--{{management.pickedDay}}-->
          <md-input-container>
            <label>Informacje </label>
            <input ng-model="management.pickedDay.info">
          </md-input-container>
        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between-center">
      <div>
        <md-button ng-if="management.pickedDay.reg_id != null" class="md-raised md-warn" aria-label="" ng-click="management.showDeleteRegister(management.pickedDay, $event)">Usuń</md-button>
      </div>
      <div>
        <md-button ng-click="management.closeDialog()" class="md-raised md-cornered md-primary">Zamknij</md-button>
        <md-button type="submit" class="md-raised md-cornered md-primary">Zapisz</md-button>
      </div>
    </md-dialog-actions>

  </form>
</md-dialog>